@model IEnumerable<EntitiesViewModel.ContactViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a href="/Admin/Contact/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContactID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lead.FirstName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContactID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactPhone)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Lead.FirstName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.ContactID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ContactID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ContactID })
            </td>
        </tr>
}
    </tbody>
</table>
