@model IEnumerable<EntitiesViewModel.BookViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="Create-link">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.BookId)</th>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Author.Name)</th>
            <th>EDITS</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.BookId)</td>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Author.Name)</td>
                <td>
                    <a href="#" class="edit-link" data-id="@item.BookId">Edit</a> 
                    <a href="#" class="details-link" data-id="@item.BookId">Details</a>
                    <a href="#" class="delete-link" data-id="@item.BookId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal Structure -->
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">Book Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalContent">
                <!-- Content will be loaded here via AJAX -->
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $(".details-link").on("click", function (e) {
                e.preventDefault();
                var bookId = $(this).attr("data-id");

                $.ajax({
                    url: '/Book/Details/' + bookId,
                    type: 'GET',
                    success: function (data) {
                        $("#modalContent").html(data);
                        $("#detailsModal").modal("show");
                    },
                    error: function () {
                        alert("Failed to load details.");
                    }
                });
            });
            $(".edit-link").on("click", function (e) {debugger
                e.preventDefault();
                var bookId = $(this).attr("data-id");

                $.ajax({
                    url: '/Book/Edit/' + bookId,
                    type: 'GET',
                    success: function (data) {
                        $("#modalContent").html(data);
                        $("#detailsModal").modal("show");
                    },
                    error: function () {
                        alert("Failed to load details.");
                    }
                });
            });
            $(".delete-link").on("click", function (e) {
                debugger
                e.preventDefault();
                var bookId = $(this).attr("data-id");

                $.ajax({
                    url: '/Book/Delete/' + bookId,
                    type: 'GET',
                    success: function (data) {
                        $("#modalContent").html(data);
                        $("#detailsModal").modal("show");
                    },
                    error: function () {
                        alert("Failed to load details.");
                    }
                });
            });
            $(".Create-link").on("click", function (e) {
                debugger
                e.preventDefault();
           //     var bookId = $(this).attr("data-id");

                $.ajax({
                    url: '/Book/Create/',
                    type: 'GET',
                    success: function (data) {
                        $("#modalContent").html(data);
                        $("#detailsModal").modal("show");
                    },
                    error: function () {
                        alert("Failed to load details.");
                    }
                });
            });
        });
    </script>
}
