@model IEnumerable<EntitiesViewModel.DeveloperViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeveloperId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkillSet)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeveloperId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillSet)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.DeveloperId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.DeveloperId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.DeveloperId })
            </td>
        </tr>
}
    </tbody>
</table>
