@model EntitiesViewModel.InstituteViewModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>InstituteViewModel</h4>
    <hr />
    @Html.AntiForgeryToken()
    <dl class="row">
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.InstituteId)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.InstituteId)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.InstituteName)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.InstituteName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
