@model EntitiesViewModel.SystemAdminViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>SystemAdminViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Create", "SystemAdmin", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.SystemAdminId)


            <div class="form-group">
                @Html.LabelFor(model => model.AdminName, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(model => model.AdminName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AdminName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DeveloperId, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.DeveloperId, new SelectList(Model.Developers, "DeveloperId","Name"),"--Please Select--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DeveloperId, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
