@model EntitiesViewModel.SystemAdminViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>SystemAdminViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SystemAdminId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SystemAdminId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeveloperId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeveloperId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.SystemAdminId }) |
    <a asp-action="Index">Back to List</a>
</div>
