@model EntitiesViewModel.ApartmentViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>ApartmentViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Create", "Apartments", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(model => model.ApartmentID, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.ApartmentID, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ApartmentID, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ApartmentName, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.ApartmentName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ApartmentName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Address, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TotalUnits, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.TotalUnits, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TotalUnits, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ResidentId, new { @class = "control-label" })
                @Html.DropDownListFor(model => model.ResidentId, new SelectList(Model.Residents,"ResidentID","Name"),"--CHOSE ONE--",new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ResidentId, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
