@model EntitiesViewModel.ApartmentViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ApartmentViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApartmentID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApartmentID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApartmentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApartmentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalUnits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalUnits)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.ApartmentID }) |
    <a asp-action="Index">Back to List</a>
</div>
